html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100% !important;
}

a{
    text-decoration: none !important;
}

.mainPage{
    /* background: lightblue; */
}

.heading{
    min-height: 84vh;
    color: white;
}

.mainFooter{
    color: white !important;
}

.mainFooter a{
    color:  white;
}


.page2{
    color: white;
    /* width: 99%; */
}

.page2Text{
    /* background: ; */
    min-height: 100vh;
}

.page2Carousel{
    min-height: 100vh;
}

.page3{
    min-height: 100vh;
}

.page3 img{
    width: 50%;
}


 /* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .page2Text{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .page3{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .page3Img{
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page3Img{
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }